body{
  padding: 0px;
  margin:0px;
  background:url('../img/bg.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat
}

@import 'partials/header';
@import 'partials/weatherData';